TEMA 1 INTRODUCCIÓN A LOS LENGUAJES DE MARCAS. XML/U1_T2_DTD_XSD_Hugo/ej1.dtd

<!ELEMENT relacion (persona*)>
<!ELEMENT persona (nombre, email*, parentesco?)>
    <!ATTLIST persona sexo ID (hombre | mujer) "hombre">
    <!ATTLIST persona carnet ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco (#PCDATA)>
    <!ATTLIST parentesco tipo CDATA #IMPLIED>